
.cabecalho__menu{
     width: 24px;
     height: 24px;
     background-image: url(../imagens/Menu.svg);
     display: inline-block;
}
.cabecalho{
     background-color: var(--cor-branco);
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: relative;
}

.cabecalho__logo__texto{
     display: none;
}

.cabecalho__opcoes{
     display: none;
}

.conteiner{
     display: flex;
     align-items: center;
}

.conteiner__botao{
     display: none;
}

/* COMBINADOR CSS */
.conteiner__botao:checked ~ .lista-menu{
     display: block;
}

.cabecalho__menu{
     width: 24px;
     height: 24px;
     background-image: url(../imagens/Menu.svg);
     background-repeat: no-repeat;
     background-position: center;
     display: inline-block;
}

.conteiner__imagem{
    padding: 1em; 
}

.lista-menu{
     display: none;
     position: absolute;
     top: 100%;
     width: 60vw;
}

.lista-menu__titulo,
.lista-menu__item{
     padding: 1em;
     background-color: var(--cor-branco);
}

.lista-menu__titulo{
     color: var(--cor-laranja);
     font-size: 1rem;
     font-weight: 700;
}

.lista-menu__item a{
     color: var(--cor-azul);
     text-decoration: none;
     font-size: 1.3rem;
     font-weight: 400;
}

@media screen and (min-width: 1024px) {

     .cabecalho__logo{
          display: flex;
          justify-content: center;
          align-items: center;
     }

     .cabecalho__logo__texto--negrito{
          font-family: var(--fonte-secundaria);
          font-weight: 700;
     }

     .cabecalho__logo__texto{
          font-family: var(--fonte-secundaria);
          display:block;
          font-size: 2rem;
          font-weight: 400;
          margin: .3em 0em 0em 0em;
     }

     .cabecalho__menu{
          display: none;
     }

     .cabecalho__opcoes{
          text-transform: uppercase;
          display: flex;
          gap: 2em;
     }

     .opcoes__item__categorias{
          color: var(--cor-preto);
     }

     .opcoes__item{
          list-style: none;
     }

     .opcoes__item a{
          color: var(--cor-preto);
          text-decoration: none;
     }

     .conteiner__imagem__transparent{
          display: none;
     }

     .opcoes__menu:checked ~ .lista-menu{
          display: block;
          width: auto;
     }

     .opcoes__menu{
          display: none;
     }

}